<div class="container" style="padding-top: 40px">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">

            <th>Programme</th>
            <th>Faculty</th>


        <% programmes.forEach( function(programme) { %>
            <tr>
              
                <td><a href="http://localhost:1337/programme/update/<%= programme.id %>">
                        <%= programme.programmename %>
                    </a> </td>
                <td>
                    <%= programme.facultyname %>
                </td>

            </tr>
            <% }); %>
    </table>
</div>