<!--create.ejs-->
<form action="/programme/create" method="post">

    <div class="field">
        <label class="label">Faculty Name</label>
        <div class="control">
            <input class="input" type="text" name="facultyname" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Prgramme Name</label>
        <div class="control">
            <input class="input" type="text" name="programmename" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Enrollment</label>
        <div class="control">
            <input class="input" type="number" name="enrollment" required>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
    </div>

</form>