
<div class="container" style="padding-top: 40px">
<!--create.ejs-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<form action="/programme/create" method="post">

    <div class="field">
        <label class="label">Faculty Name</label>
        <div class="control">
            <div class="select">
                <select name="facultyname" onchange="facultySelected(this.value)" required>
                    <option value="">Select faculty</option>
                    <option value="Faculty of Arts">Faculty of Arts</option>
                    <option value="School of Business">School of Business</option>
                    <option value="School of Chinese Medicine">School of Chinese Medicine</option>
                    <option value="School of Communication">School of Communication</option>
                    <option value="School of Creative Arts">School of Creative Arts</option>
                    <option value="Faculty of Science">Faculty of Science</option>
                    <option value="Faculty of Social Sciences">Faculty of Social Sciences</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Programme Name</label>
        <div class="control">
            <div class="select">
                <select id="programmename"  name="programmename" disabled>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Enrollment</label>
        <div class="control">
            <input class="input" type="number" name="enrollment" required>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Programme Objectives</label>
        <div class="control">
            <input class="input" type="string" name="programmeobjectives" style="font-weight: bold;" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Programme Website</label>
        <div class="control">
            <input class="input" type="string" name="programmewebsite" style="font-weight: bold;" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Credits required for graduation</label>
        <div class="control">
            <input class="input" type="number" name="credits" style="font-weight: bold;" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Duration of Study</label>
        <div class="control">
            <input class="input" type="number" name="duration" style="font-weight: bold;" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Image Url</label>
        <div class="control">
            <input class="input" type="string" name="imageurl" style="font-weight: bold;" required>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
    </div>

</div>
    <script>
        var allFacultyofArts = ["Bachelor of Arts (Hons) in Chinese Language and Literature", "Bachelor of Arts (Hons) in Creative and Professional Writing", "Bachelor of Arts (Hons) in English Language and Literature", "Bachelor of Arts (Hons) in Humanities", 
        "Bachelor of Arts (Hons) in Translation", "Bachelor of Arts (Hons) in Religion, Philosophy and Ethics", "Bachelor of Music (Hons) in Creative Industries", "Bachelor of Arts (Hons) in Music"];
        var allSchoolofBusiness = ["Bachelor of Business Administration (Hons) in Accounting Concentration", "Bachelor of Business Administration (Hons) in Applied Economics", "Bachelor of Business Administration (Hons) in Economics and Data Analytics",
        "Bachelor of Business Administration (Hons) in Entrepreneurship", "Bachelor of Business Administration (Hons) in Finance", "Bachelor of Business Administration (Hons) in Human Resources Management", "Bachelor of Business Administration (Hons) in Marketing"];
        var allSchoolofChineseMedicine = ["Bachelor of Chinese Medicine and Bachelor of Science (Hons) in Biomedical Science", "Bachelor of Pharmacy (Hons) in Chinese Medicine"];
        var allSchoolofCommunication = ["Bachelor of Communication (Hons) in Journalism and Digital Media", "Bachelor of Communication (Hons) in Public Relations and Advertising",  "Bachelor of Communication (Hons) in Game Design and Animation"];
        var allSchoolofCreativeArts = [ "Bachelor of Communication (Hons) in Film (Film and Television Concentration)", "Bachelor of Fine Arts (Hons) in Acting for Global Screen", "Bachelor of Arts(Hons) in Visual Arts", "Bachelor of Arts and Science(Hons) in Arts and Technology", "Bachelor of Arts(Hons) in Business Adminstration (Global Entertainment)"];
        var allFacultyofScience = ["Bachelor of Science (Hons) in Analytical and Testing Sciences", "Bachelor of Science (Hons) in Applied Mathematics and Statistics (Applied Statistics)", "Bachelor of Science (Hons) in Applied Mathematics and Statistics (Data Science)", "Bachelor of Science (Hons) in Biology (Biotechnology)", 
        "Bachelor of Science (Hons) in Biology (Environmental Science)", "Bachelor of Science (Hons) in Bioresource and Agricultural Science)", "Bachelor of Science (Hons) in Chemistry", "Bachelor of Science (Hons) in Computer Science (Computing and Software Technologies)", 
        "Bachelor of Science (Hons) in Computer Science (Information Systems and Analytics)", "Bachelor of Science (Hons) in Computer Science (Data and Media Communication)", "Bachelor of Science (Hons) in Computer Science (Artificial Intelligence)", "Bachelor of Science(Hons) in Business Computing and Data Analytics", "Bachelor of Science (Hons) in Green Energy and Smart Technology"];
        var allFacultyofSocialSciences = ["Bachelor of Social Work (Hons)", "Bachelor of Social Sciences (Hons) in European Studies [French/German Stream]", "Bachelor of Social Sciences (Hons) in Geography", "Bachelor of Social Sciences (Hons) in Government and International Studies", "Bachelor of Social Sciences (Hons) in History", "Bachelor of Social Sciences (Hons) in Sociology",
        "Bachelor of Social Sciences (Hons) in Psychology", "Bachelor of Social Sciences (Hons) in China Studies", "Bachelor of Social Sciences (Hons) in Political Science", "Bachelor of Social Sciences (Hons) in Sports and Recreation Management" ];

        function facultySelected(faculty) {

            var programmenameElem = document.getElementById("programmename");
            programmenameElem.options.length = 0;

            if (faculty == "Faculty of Arts") {

                allFacultyofArts.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmenameElem.disabled = false;

            } else if (faculty == "School of Business") {

                allSchoolofBusiness.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmenameElem.disabled = false;

            } else if (faculty == "School of Chinese Medicine") {

                allSchoolofChineseMedicine.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmenameElem.disabled = false;

            } else if (faculty == "School of Communication") {

                allSchoolofCommunication.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmenameElem.disabled = false;

            } else if (faculty == "School of Creative Arts") {

                allSchoolofCreativeArts.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmenameElem.disabled = false;

            } else if (faculty == "Faculty of Science") {

                allFacultyofScience.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmename.disabled = false;

            } else if (faculty == "Faculty of Social Sciences") {

                allFacultyofSocialSciences.forEach(function (item) {
                    var option = document.createElement("option");
                    option.text = item;
                    option.value = item;
                    programmenameElem.add(option);
                });

                programmename.disabled = false;

            } else {

                programmename.disabled = true;
            }
        }

    </script>
    <script>
        async function createForm(oFormElement) {

            var response = await fetch("/programme/", {
                method: "POST",
                credentials: 'same-origin',
                headers: { 'content-type': 'application/x-www-form-urlencoded' },
                //enctype code of form
                //put into array            
                //map into input and encode                                                        
                //join it
                body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
            });

            if (response.ok) {
                var data = await response.json();   // for res.ok() or res.json()
                alert(data.message);
                windows.location = data.url;
                //location.reload(true);
            } else if (response.status == 401) {
                var data = await response.text();   // for res.send()
                alert(data);
            } else {
                alert(response.statusText);
            }

        };

    </script>
</form>