<head>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
      type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html,
      body {
        min-height: 100%;
      }
  
      body,
      div,
      form,
      input,
      p {
        padding: 0;
        margin: 0;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        color: #666;
        line-height: 22px;
      }
  
      h1 {
        font-weight: 400;
      }
  
      h4 {
        margin: 22px 0 4px;
        color: #095484;
      }
  
      .testbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 3px;
      }
  
      form {
        width: 100%;
        padding: 20px;
        background: #fff;
        box-shadow: 0 2px 5px #ccc;
      }
  
      input {
        width: calc(100% - 10px);
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        vertical-align: middle;
      }
  
      input:hover,
      textarea:hover {
        outline: none;
        border: 1px solid #095484;
      }
  
      .first-name {
        margin-bottom: 22px;
      }
  
      span {
        color: red;
      }
  
      th,
      td {
        width: 15%;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        text-align: center;
        vertical-align: unset;
        line-height: 18px;
        font-weight: 400;
        word-break: break-all;
      }
  
      .first-col {
        width: 16%;
        text-align: left;
      }
  
      table {
        width: 100%;
      }
  
      textarea {
        width: calc(100% - 6px);
      }
  
      .btn-block {
        margin-top: 20px;
        text-align: center;
      }
  
      button {
        width: 150px;
        padding: 10px;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #095484;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }
  
      button:hover {
        background-color: #0666a3;
      }
  
      @media (min-width: 568px) {
  
        th,
        td {
          word-break: keep-all;
        }
      }
    </style>
  </head>


<form action="/programme/evaluation/<%= programme.id %>" method="post">
    <h1>Online Feedback Form</h1>
    <p>Thank you for taking the time to fill in our online feedback form. By providing us the feedback, it will
      enhance the evaluation of programme.</p>
    <h4>Name<span>*</span></h4>
    <input class="first-name" type="text" name="name" required />
    <h4>Email<span>*</span></h4>
    <input type="text" name="email" required/>
    <h4>How satisfied were you with:<span>*</span></h4>

    <table>
      <tr>
        <th class="first-col"></th>
        <th>Very Good</th>
        <th>Good</th>
        <th>Fair</th>
        <th>Poor</th>
        <th>Very Poor</th>
      </tr>

      <tr>
        <td class="first-col">I love the programme that I studied</td>
        <td><input type="radio" value="5" name="q1love" required/></td>
        <td><input type="radio" value="4" name="q1love" required/></td>
        <td><input type="radio" value="3" name="q1love" required/></td>
        <td><input type="radio" value="2" name="q1love" required/></td>
        <td><input type="radio" value="1" name="q1love" required/></td>
      </tr>

      <tr>
        <td class="first-col">In the teaching process, I have made progress than before</td>
        <td><input type="radio" value="5" name="q2progress" required/></td>
        <td><input type="radio" value="4" name="q2progress" required/></td>
        <td><input type="radio" value="3" name="q2progress" required/></td>
        <td><input type="radio" value="2" name="q2progress" required/></td>
        <td><input type="radio" value="1" name="q2progress" required/></td>
      </tr>

      <tr>
        <td class="first-col">Programme's instructions are clear and easy to understand </td>
        <td><input type="radio" value="5" name="q3instructions" required/></td>
        <td><input type="radio" value="4" name="q3instructions" required/></td>
        <td><input type="radio" value="3" name="q3instructions" required/></td>
        <td><input type="radio" value="2" name="q3instructions" required/></td>
        <td><input type="radio" value="1" name="q3instructions" required/></td>
      </tr>

      <tr>
        <td class="first-col">What I have learned in this course is directly related to real life </td>
        <td><input type="radio" value="5" name="q4reallife" required/></td>
        <td><input type="radio" value="4" name="q4reallife" required/></td>
        <td><input type="radio" value="3" name="q4reallife" required/></td>
        <td><input type="radio" value="2" name="q4reallife" required/></td>
        <td><input type="radio" value="1" name="q4reallife" required/></td>
      </tr>

      <tr>
        <td class="first-col">I enjoyed to study in the programme </td>
        <td><input type="radio" value="5" name="q5enjoy" required/></td>
        <td><input type="radio" value="4" name="q5enjoy" required/></td>
        <td><input type="radio" value="3" name="q5enjoy" required/></td>
        <td><input type="radio" value="2" name="q5enjoy" required/></td>
        <td><input type="radio" value="1" name="q5enjoy" required/></td>
      </tr>


      <tr>
        <td class="first-col">I don't feel pressured to take this programme </td>
        <td><input type="radio" value="5" name="q6pressured" required/></td>
        <td><input type="radio" value="4" name="q6pressured" required/></td>
        <td><input type="radio" value="3" name="q6pressured" required/></td>
        <td><input type="radio" value="2" name="q6pressured" required/></td>
        <td><input type="radio" value="1" name="q6pressured" required/></td>
      </tr>
      
      <tr>
        <td class="first-col">I can handle the programme's curriculum</td>
        <td><input type="radio" value="5" name="q7curriculum" required/></td>
        <td><input type="radio" value="4" name="q7curriculum" required/></td>
        <td><input type="radio" value="3" name="q7curriculum" required/></td>
        <td><input type="radio" value="2" name="q7curriculum" required/></td>
        <td><input type="radio" value="1" name="q7curriculum" required/></td>
      </tr>
      
      <tr>
        <td class="first-col">I think the course difficulty is moderate</td>
        <td><input type="radio" value="5" name="q8difficulty" required/></td>
        <td><input type="radio" value="4" name="q8difficulty" required/></td>
        <td><input type="radio" value="3" name="q8difficulty" required/></td>
        <td><input type="radio" value="2" name="q8difficulty" required/></td>
        <td><input type="radio" value="1" name="q8difficulty" required/></td>
      </tr>


      <tr>
        <td class="first-col">How would you rate your overall feeling with the programme?</td>
        <td><input type="radio" value="5" name="rate" required/></td>
        <td><input type="radio" value="4" name="rate" required/></td>
        <td><input type="radio" value="3" name="rate" required/></td>
        <td><input type="radio" value="2" name="rate" required/></td>
        <td><input type="radio" value="1" name="rate" required/></td>
      </tr>

      <tr>
        <td class="first-col">How satisfied are you with the curriculum of the programme?</td>
        <td><input type="radio" value="5" name="satisfied" required/></td>
        <td><input type="radio" value="4" name="satisfied" required/></td>
        <td><input type="radio" value="3" name="satisfied" required/></td>
        <td><input type="radio" value="2" name="satisfied" required/></td>
        <td><input type="radio" value="1" name="satisfied" required/></td>
      </tr>

      <tr>
        <td class="first-col">How would you rate the programme objectives connect to the future career path?
        </td>
        <td><input type="radio" value="5" name="career" required/></td>
        <td><input type="radio" value="4" name="career" required/></td>
        <td><input type="radio" value="3" name="career" required/></td>
        <td><input type="radio" value="2" name="career" required/></td>
        <td><input type="radio" value="1" name="career" required/></td>
      </tr>
       
      <tr>
        <td class="first-col">How satisfied are you with the programme's curriculum difficulty?</td>
        <td><input type="radio" value="5" name="difficulty" required/></td>
        <td><input type="radio" value="4" name="difficulty" required/></td>
        <td><input type="radio" value="3" name="difficulty" required/></td>
        <td><input type="radio" value="2" name="difficulty" required/></td>
        <td><input type="radio" value="1" name="difficulty" required/></td>
      </tr>
      <tr>
        <td class="first-col">How satisfied are you with the faculty members support?</td>
        <td><input type="radio" value="none" name="support" required/></td>
        <td><input type="radio" value="none" name="support" required/></td>
        <td><input type="radio" value="none" name="support" required/></td>
        <td><input type="radio" value="none" name="support" required/></td>
        <td><input type="radio" value="none" name="support" required/></td>
      </tr>
      <tr>
        <td class="first-col">Would you recommend the programme to others?</td>
        <td><input type="radio" value="5" name="recommend" required/></td>
        <td><input type="radio" value="4" name="recommend" required/></td>
        <td><input type="radio" value="3" name="recommend" required/></td>
        <td><input type="radio" value="2" name="recommend" required/></td>
        <td><input type="radio" value="1" name="recommend" required/></td>
      </tr>
    </table>
    <h4>Please use a sentence to describe how you feel with the programme:</h4>
    <textarea name="feel" rows="5"></textarea>
    <h4>Anything you want to share about the programme:</h4>
    <textarea name="share" rows="5"></textarea>
    <h4>Feel free to add any other comments or suggestions:</h4>
    <textarea name="comments" rows="5"></textarea>
    <small>* The information given within the Feedback Form will be used for programme improvement only and are
      strictly
      confidential.</small>
    <div class="btn-block">
      <button type="submit" href="/">Send Feedback</button>
    </div>

  </form>