<body class="spaceBody">
    <div class="container">
        <div class="columns">
            <div class=justify-content: space-around;>
                <div class="row">
                    <% programmes.forEach( function(programme) { %>
                        <div class="card" style="width: 40rem;">
                            <div class="card-image">
                                <figure>
                                    <img src='<%= programme.imageurl %>' width="500" height="600"></img>
    
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media-content">
    
                                    <p class="subtitle is-6">
                                         <%= programme.facultyname %>
                                         <br>
                                            <%= programme.programmename %>
                                    </p></a>
    
                                </div>
                            </div>
    
    
    
    
                        </div>
                </div>
            </div>
            <br>
            <% }); %>
    
        </div>
    </div>
    
    </body>