<!--list.ejs-->
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    
    <% programmes.forEach( function(programme) { %>
    
        <tr><td><%= programme.facultyname %></td><td><%= programme.programmename %></td></tr>
    
    <% }); %>

</table>