<body>
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <div id="chartdiv" style="width:100vw; height:100vh"></div>
  <div id="chartdiv_snsd" style="width:90vw; height:100vh"></div>

  <script src="programme/snsd.ejs"></script>
</body>

<script>
  document.addEventListener("DOMContentLoaded", async function () {

    var root = am5.Root.new("chartdiv_snsd");
    var chart = root.container.children.push(
      am5percent.SlicedChart.new(root, {})
    );




    var series = chart.series.push(
      am5percent.PictorialStackedSeries.new(root, {
        svgPath: `"M500.094,364.217v-87.014h11.634v-0.001v-30.385h-11.637h-148.65v-38.986l11.748,8.896l18.344-24.223l-30.091-22.788
			l-80.25-60.77V94.781l113.054-41.776L240.806,0v84.199v21.81v2.937l-80.25,60.77l-30.091,22.788l18.344,24.223l11.748-8.896
			v38.986H11.905H0.269v30.385h11.636v87.014H0.269v30.385h11.636V512h148.651h30.385h130.116h30.385h148.651V394.602h11.636
			v-30.385H500.094z M160.556,481.615H42.29v-87.013h118.266V481.615z M160.556,364.216H42.29v-87.014h118.266V364.216z
			 M271.191,43.621l25.393,9.384l-25.393,9.384V43.621z M190.941,184.821l65.058-49.266l65.058,49.266v61.996H190.941V184.821z
			 M321.057,481.615H190.941v-87.013h130.116V481.615z M321.057,364.217H190.941v-87.014h130.116V364.217z M469.708,481.615h-0.001
			H351.442v-87.013h118.266V481.615z M469.708,364.217h-0.001H351.442v-87.014h118.266V364.217z"`,
        categoryField: "name",
        valueField: "value",
        orientation: "horizontal"
      })
    );

    series.labels.template.set("rotation", 0);
    series.ticks.template.set("location", 0.95);
    series.slices.template.set("tooltipY", 75);
    series.slices.template.setAll({
      tooltipText: "{category} : {value} ."
    });

    series.get("colors").set("colors", [
      am5.color(0xff4980),
      am5.color(0xe9cdc2),
      am5.color(0x773d31),
    ]);
    series.data.setAll([
      { value: 10, category: "One" },
      { value: 9, category: "Two" },
      { value: 6, category: "Three" },
      { value: 5, category: "Four" },
      { value: 4, category: "Five" },
      { value: 3, category: "Six" },
      { value: 1, category: "Seven" }
    ]);

    var response = await fetch('/data/chartforsnsd');

    if (response.ok) {

      var data = await response.json();


      // xAxis.data.setAll(data);
      series.data.setAll(data);

    }
    // series.data.setAll([{
    //     name: "SM",
    //     value: 365387
    // }, {
    //     name: "JYP",
    //     value: 102242
    // }, {
    //     name: "YG",
    //     value: 349861
    // }]);
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", async function () {
    // Create root and chart
    var root = am5.Root.new("chartdiv");


    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);


    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: true,
      panY: true,
      wheelX: "panX",
      wheelY: "zoomX",
      pinchZoomX: true
    }));

    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
    cursor.lineY.set("visible", false);


    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
    xRenderer.labels.template.setAll({
      rotation: -90,
      centerY: am5.p50,
      centerX: am5.p100,
      paddingRight: 15
    });

    xRenderer.grid.template.setAll({
      location: 1
    })

    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
      maxDeviation: 0.3,
      categoryField: "country",
      renderer: xRenderer,
      tooltip: am5.Tooltip.new(root, {})
    }));

    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
      maxDeviation: 0.3,
      renderer: am5xy.AxisRendererY.new(root, {
        strokeOpacity: 0.1
      })
    }));


    // Create series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
      name: "Series 1",
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: "value",
      sequencedInterpolation: true,
      categoryXField: "country",
      tooltip: am5.Tooltip.new(root, {
        labelText: "{valueY}"
      })
    }));

    series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5, strokeOpacity: 0 });
    series.columns.template.adapters.add("fill", function (fill, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });

    series.columns.template.adapters.add("stroke", function (stroke, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });


    var response = await fetch('/data/chart');

    if (response.ok) {

      var data = await response.json();

      xAxis.data.setAll(data);
      series.data.setAll(data);

    }



    xAxis.data.setAll(data);
    series.data.setAll(data);


    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);
  });
</script>